.wrapper {
	position: relative;
	background-color: #fff;
  	font-family: "Roboto";
	font-size: 14px;
	line-height: 21px;
}

ul {
	list-style: none;
}

a {
	cursor: pointer;
}

header {
	border-bottom: 1px solid #cacaca;
}

main {
	margin-top: 45px;
}

.main {
	margin-top: 0;
}

footer {
	margin-top: 50px;
	padding-bottom: 75px;
	background-color: #f6f2f6;
}

.top {
	border-bottom: 1px solid #cacaca;
}

.logo {
	padding-top: 25px;
}

.logo a:hover {
	text-decoration: none;
}

.l-main span {
	display: block;
	font-size: 11px;
	color: #666;
	letter-spacing: 4px;
	text-transform: uppercase;
	padding-left: 31px;
}

.t-second {
	padding: 40px 0;
}

.t-second span {
	font-family: "Philosopher";
	font-size: 17px;
	font-style: italic;
	color: #333;
	font-weight: 600;
}

.h-form {
	position: relative;
	padding: 40px 0 20px;
}

.h-form input[type=search] {
	width: 100%;
	height: 41px;
	border: 1px solid #ccc;
	padding-left: 20px;
}

.h-form input[type=submit] {
	position: absolute;
	top: 40px;
	right: 0;
	width: 44px;
	height: 41px;
	border: none;
	background-color: #322530;
	background-image: url("../img/search.png");
	background-position: 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.h-form input[type=submit]:hover {
	background-color: #d68009;
}

.menu-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.menu-list li {
	padding: 30px 0;
	list-style: none;
}

.menu-list li a {
	font-family: "Roboto";
	color: #333;
	font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
}

.menu-list li a:hover {
	text-decoration: none;
}

.main-menu li .active-item {
	color: #d68009;
}

.main-menu li .active-item:hover {
	color: #d68009;
}

.show-menu {
	display: flex;
	float: right;
	width: 50px;
	height: 40px;
	background-color: #fff;
	margin-top: 45px;
	border: none;
}

.show-menu div {
	position: relative;
	top: 19px;
	width: 100%;
	height: 5px;
	background-color: #322530;
}

.show-menu div:after,
.show-menu div:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	top: 16px;
	background-color: #322530;
}

.show-menu div:before {
	top: -18px;
}

main {
	margin-top: 45px;
}

.slider {
	position: relative;
	margin-bottom: 42px;
}

.slider:before {
	position: absolute;
	content: "";
	width: 18px;
	height: 18px;
	top: 36px;
    left: -9px;
    z-index: 10;
	background-color: #d68009;
}

.slide {
	display: flex;
}

.s-text {
	position: relative;
	padding: 35px 20px;
	background-color: #322530;
	color: #fff;
}

.s-text .title {
	font-family: "Philosopher";
	font-size: 23px;
	margin-bottom: 35px;
}

.s-text .description {
	font-family: "Roboto";
	font-size: 13px;
	color: #ac98a9;
	margin-bottom: 125px;
}

.switch {
	display: flex;
	justify-content: space-between;
}

.counts {
	font-family: "Philosopher";
	font-size: 48px;
}

.counts span {
	color: #877484;
	font-size: 24px;
}

.s-btns {
	display: flex;
	justify-content: space-between;
	width: 50px;
}

.slide-btn-prev,
.slide-btn-next {
	position: relative;
	bottom: auto;
    top: auto;
    left: auto;
    right: auto;
    width: 11px;
    height: 20px;
    background-image: none;
    margin-top: 0;
    opacity: .35;
}

.slide-btn-prev:hover,
.slide-btn-next:hover {
    opacity: 1;
}

.s-image img {
	width: 555px;
	height: 457px;
}

.m-container span,
.s-form span {
	display: block;
	font-family: "Philosopher";
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 45px;
}

.m-container .art-mc-span {
	font-size: 30px;
	text-align: left;
}

.line,
.art-line {
	position: relative;
	margin-bottom: 45px;
	width: 100%;
	height: 1px;
	background-color: #cacaca;
}

.art-line {
	margin-bottom: 40px;
}

.line:after {
	position: absolute;
	content: "";
	transform: translateX(-50%);
	left: 50%;
	top: -7px;
	width: 70px;
	height: 14px;
	background: #fff url("../img/center.jpg") 50% no-repeat;
}

.item-image {
	margin-bottom: 30px;
}

.item-image img {
	width: 100%;
	height: 100%;
}

.m-item {
	cursor: pointer;
}

.m-item:hover .item-image img,
.p-item:hover .pi-image img {
	box-shadow: 0 3px 15px rgba(0,0,0,0.5);
}

.item-text {
	font-family: "Roboto";
	margin-bottom: 25px;
	max-height: 127px;
    overflow: hidden;
}

.i-title {
	margin-bottom: 22px;
	font-size: 18px;
}

.i-title a {
	color: #333;
	text-decoration: none;
}

.m-item:hover .i-title a,
.p-item:hover .pi-description a p {
	color: #d68009;
}

.i-description {
	margin-bottom: 22px;
	color: #666;
}

.i-visit {
	display: flex;
	color: #999;
}

.m-item .i-visit span {
	padding-right: 20px;
}

.m-item .i-visit span,
.art-toolbar .i-visit span {
	position: relative;
	font-size: 11px;
	padding-left: 20px;
}

.art-toolbar .v-comment,
.art-toolbar .v-eye {
	margin-left: 20px;
	margin-bottom: 25px;
}

.v-eye:before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 16px;
	height: 12px;
	background-image: url("../img/oko.png");
	background-repeat: no-repeat;
	opacity: .4;
}

.v-comment:before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 16px;
	height: 15px;
	background-image: url("../img/comment.png");
	background-repeat: no-repeat;
	opacity: .4;
}

.m-item:hover .v-eye,
.m-item:hover .v-comment,
.p-item:hover .visyulka {
	color: #000;
}

.m-item:hover .v-eye:before,
.m-item:hover .v-comment:before,
.p-item:hover .visyulka:before {
	opacity: 1;
}

.main-bottom {
	background-color: #f6f2f6;
	margin-bottom: 45px;
	padding: 65px 30px 35px;
}

.mb-menu {
	border-top: 1px solid #cacaca;
}

.mb-menu-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.mb-menu-list li {
	padding: 30px 0;
	list-style: none;
}

.mb-menu-list a {
	color: #333333;
	font-size: 13px;
	text-transform: uppercase;
}

.mb-menu-list a:hover {
	color: #d68009;
	text-decoration: none;
}

.welcome {
	color: #d68009;
}

.m-container p {
	color: #666666;
}

.footer-logo {
	margin-top: 65px;
	padding-top: 0;
}

.footer-menu {
	margin-top: 65px;
	margin-bottom: 20px;
}

.f-menu-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.f-menu-list li {
	border-right: 2px solid #777;
	padding-right: 45px;
	list-style: none;
}

.f-menu-list li:last-child {
	border-right: none;
	padding-right: 0;
}

.f-menu-list a {
	color: #333333;
	font-size: 14px;
	font-weight: 500;
}

.f-menu-list a:hover {
	color: #d68009;
	text-decoration: none;
}

.f-middle span {
	color: #999999;
	font-size: 12px;
}

.page-footer {
	margin-top: 30px;
	display: flex;
    align-items: center;
    height: 100%;
}

.social {
	display: flex;
	padding: 0;
	margin-left: 35px;
}

.social li {
	list-style: none;
	margin-right: 5px;

}

.social a {
	display: block;
	width: 49px;
	height: 47px;
	border: 1px solid #cccccc;
}

.social a:hover {
	background-color: #322530;
}

.social .hzshovono {
	border: none;
	margin-left: 25px;
}

.odnokl {
	background-image: url("../img/odnokl.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.fb {
	background-image: url("../img/fb.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.vk {
	background-image: url("../img/vk.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.google {
	background-image: url("../img/google.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.popular-title {
	margin-bottom: 45px;
}

.p-items {
	display: flex;
	flex-direction: column;
}

.p-item {
	font-family: "Roboto";
	display: flex;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px dashed #cacaca;
}

.pi-image {
	width: 100px;
	height: 86px;
	min-width: 100px;
	margin-right: 20px;
}

.pi-image img {
	width: 100%;
	height: 100%;
}

.pi-description {
	height: 86px;
	overflow: hidden;
}

.pi-description a,
.art-pi-description a {
	text-decoration: none;
}

.pi-description p,
.art-pi-description p {
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
	line-height: 15px;
}

.pi-description span,
.art-pi-description span {
	position: relative;
	font-size: 13px;
	color: #999;
	font-weight: normal;
	margin-bottom: 0;
	text-align: left;
	padding-left: 20px;
}

.art-pi-description span {
	padding-left: 0;
}

.pi-description span:before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 13px;
	height: 13px;
	background-image: url("../img/visyulka.png");
	background-repeat: no-repeat;
	opacity: .4;
}

.s-form {
	position: relative;
	background-color: #f6f2f6;
	padding: 45px 20px;
	margin-bottom: 30px;
}

.s-form .line {
	width: 80%;
	margin: 0 auto 45px;
}

.s-form .line:after {
	position: absolute;
    content: "";
    transform: translateX(-50%);
    left: 50%;
    top: -7px;
    width: 70px;
    height: 14px;
    background: #f6f2f6 url(../img/form-img.png) 50% no-repeat;
} 

.s-form p {
	text-align: center;
}

.f-inputs input {
	width: 100%;
	height: 35px;
}

.f-inputs input[type=e-mail] {
	padding: 12px 12px;
	margin-bottom: 20px;
}

.f-inputs input[type=submit] {
	background-color: #322530;
	font-family: "Philosopher";
	font-size: 14px;
	color: #fff;
	border: none;
}

.f-inputs input[type=submit]:hover {
	cursor: pointer;
	background-color: #d68009;
}

.s-vk,
.s-odk {

	margin: 0 auto 30px;
} 

.s-vk .vk-image,
.s-odk .odk-image {
	display: flex;
	justify-content: center;
}

.breadcrumbs-main {
	margin-bottom: 45px;
	background-color: #f6f2f6;
}

.breadcrumbs {
	font-family: "Roboto";
	font-size: 13px;
	color: #999;
}

.b-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.b-list li {
	list-style: none;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bc-main {
	color: #999;
}

.bc-main:hover {
	text-decoration: none;
	color: #999;
}

.breadcrumbs .b-list .bc-active {
	color: #333;
	font-weight: 500;
}

.b-list li span {
	margin: 0 10px;
}

.heading-links {
	margin-bottom: 45px;
}

.hl-list ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.hl-list ul li {
	list-style: none;
	margin: 15px 5px;
}

.hl-list ul li a {
	color: #333;
	background-color: #f6f2f6;
	padding: 10px 10px;
}

.hl-list ul li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #d68009;
	padding: 10px 10px;
}

.art-toolbar {
	display: flex;
	justify-content: space-between;
}

.raiting-stars {
	display: flex;
	margin: 0 20px 0 0;
	padding: 0;
}

.raiting-stars li {
	list-style: none;
}

.r-star {
	width: 16px;
	height: 15px;
	background-image: url("../img/star.png");
	background-repeat: no-repeat;
	cursor: pointer;
}

.r-star:hover {
	opacity: .3;
}

.social-list {
	display: flex;
	margin: 0;
	padding: 0;
}

.social-list li {
	list-style: none;
	margin-right: 5px;
}

.art-description {
	font-family: "Philosopher";
	font-style: italic;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 45px;
}

.art-main-top {
	padding-bottom: 45px;
}

.amt-right .p-item {
	border-bottom: none;
	padding-bottom: 0;
}

.amt-left {
	margin-bottom: 45px;
}

.amt-left img {
	width: 100%;
}

.composition {
	overflow: hidden;
	width: 100%;
	padding: 45px 55px;
	margin-bottom: 45px;
	background-image: url("../img/bg-article.png");
	background-color: #f6f2f6;
	background-repeat: no-repeat;
}

.composition span {
	display: block;
	color: #333;
	font-family: "Philosopher";
	font-weight: bold;
	font-size: 20px; 
	margin-bottom: 25px;
}

.composition a {
	color: #333;
	font-size: 14px;
	line-height: 25px;
	font-weight: 500;
}

.composition a:hover {
	color: #d68009;
	text-decoration: none;
}

.m-container .a-title {
	text-align: left;
	margin-bottom: 30px;
}

.m-container .a-description {
	font-family: "Roboto";
	font-size: 15px;
	text-align: left;
	font-weight: normal;
}

.a-images {
	display: flex;
	margin-bottom: 45px;
}

.a-images div:first-child {
	margin-right: 10px;
}

.a-images div img{
	width: 100%;
}

.m-container {
	overflow: hidden;
}

.art-p {
	position: relative;
	display: block;
	padding: 30px 60px 35px;
	border: 1px solid #9db032;
}

.art-p:before {
	position: absolute;
    content: "";
    left: -20px;
    top: -25px;
    width: 53px;
    height: 53px;
    background: #f6f2f6 url(../img/160.png) 50% no-repeat;
}